@charset "UTF-8";

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url(subject/4883106_l.jpg) no-repeat;
  background-size: cover;
}

.header-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main {
  padding: 10px;
  color:  #fff;               /* 文字色 */
  margin:  10px;              /* 外側の余白 */
  border-radius:  5px;        /* 角丸指定 */
  font-size:  30px;           /* 文字サイズ */
  width: 200px;               /* 幅指定 */
  text-align:  center;
  display: flex;              /* フレックスボックスにする */
	justify-content: center;
  flex-direction: row;
}

#timer {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-shadow    : 
      2px  2px 1px #003366,
     -2px  2px 1px #003366,
      2px -2px 1px #003366,
     -2px -2px 1px #003366,
      2px  0px 1px #003366,
      0px  2px 1px #003366,
     -2px  0px 1px #003366,
      0px -2px 1px #003366;
  letter-spacing : 2px;  
  width: 90%;
  margin: 0 auto;
}
