@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.container {
  width: 100vw;
  height: 100vh;
  background: url(./subject/4883106_l.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat
}

.header-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style: none;
}

#main_login_image {
  color: #fff;
  text-shadow    : 
      2px  2px 1px #003366,
     -2px  2px 1px #003366,
      2px -2px 1px #003366,
     -2px -2px 1px #003366,
      2px  0px 1px #003366,
      0px  2px 1px #003366,
     -2px  0px 1px #003366,
      0px -2px 1px #003366;  
  width: 95%;
  font-size: 15px;
  text-align: center;
}

.text-input {
  display: flex;
  flex-direction: column;
  font-size: 30px;

}

.login-title1 {
margin-left: 10px;
position: absolute;
top: 280px;
}

.login-title2 {
margin-left: 10px;
position: absolute;
top: 360px;
}

.text-input input{
  padding: 10px;
  margin-top: 40px;
  width: 80%;
  margin-right: auto;
  margin-left : auto;

}

.text-input .text1 {
  margin-top: 100px;
}

.main {
  padding: 30px;
  padding-top: 30px;
  /* color:  #fff;               文字色 */
  /* margin:  30px; 
  margin-bottom: 100px;             外側の余白 */
  font-size:  30px;           /* 文字サイズ */
  width: 100%;               /* 幅指定 */
  display: flex; 
  justify-content:  center;  
  flex-direction: column;      /* フレックスボックスにする */

}

.main a {
  margin-right: auto;
  margin-left : auto; 
}

#timer {
  display: inline-block;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  text-shadow    : 
      2px  2px 1px #003366,
     -2px  2px 1px #003366,
      2px -2px 1px #003366,
     -2px -2px 1px #003366,
      2px  0px 1px #003366,
      0px  2px 1px #003366,
     -2px  0px 1px #003366,
      0px -2px 1px #003366;
  letter-spacing : 2px;  
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

/* .container .ul {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
} */